* {
    font-family: "JetBrains Mono";
}

window#waybar {
    background-color: transparent;
}

/* modules left */
#window {
    background-color: #282828;
    border: 2px solid #ebdbb2;
    border-radius: 10px;

    padding-left: 10px;
    padding-right: 10px;
}

#clock {
    background-color: #282828;
    border: 2px solid #ebdbb2;
    border-radius: 10px;

    padding-left: 10px;
    padding-right: 10px;

    margin-right: 5px;
    margin-left: 5px;
}

/* modules right */
#network,
#bluetooth,
#pulseaudio,
#backlight,
#battery {
    background-color: #282828;
    border: 2px solid #ebdbb2;
    border-radius: 10px;

    margin-left: 5px;

    padding-left: 10px;
    padding-right: 10px;
}
#tray {
    background-color: #282828;
    border: 2px solid #ebdbb2;
    border-radius: 10px;

    margin-left: 5px;

    padding-left: 10px;
    padding-right: 10px;
}